<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanqiao.mapper.StuManageMapper">
    <resultMap id="baseUserResult" type="Olts_users">
        <id property="id" column="ID"/>
        <result property="stu_no" column="STU_NO"/>
        <result property="id_card_no" column="ID_CARD_NO"/>
        <result property="user_name" column="USER_NAME"/>
        <result property="pass_word" column="PASS_WORD"/>
        <result property="mobile" column="MOBILE"/>
        <result property="home_tel" column="HOME_TEL"/>
        <result property="home_addr" column="HOME_ADDR"/>
        <result property="sch_addr" column="SCH_ADDR"/>
        <result property="qq" column="QQ"/>
        <result property="email" column="EMAIL"/>
        <result property="user_type" column="USER_TYPE"/>
        <result property="gender" column="GENDER"/>
        <result property="birthday" column="BIRTHDAY"/>
        <result property="nation_place" column="NATION_PLACE"/>
        <result property="marjor" column="MARJOR"/>
        <result property="edu_Background" column="EDU_BACKGROUND"/>
        <result property="graduate_School" column="GRADUATE_SCHOOL"/>
    </resultMap>

    <!--更新学生/教师列表信息，王良-->
    <update id="updateStu" parameterType="Olts_users">
        UPDATE OLTS_USERS SET
        <trim suffixOverrides=",">
            <if test="pass_word !=null and pass_word!=''">
                PASS_WORD = #{pass_word},
            </if>
            <if test="gender!=null and gender!=''">
                GENDER = #{gender},
            </if>
            <if test="id_card_no!=null and id_card_no!=''">
                ID_CARD_NO = #{id_card_no},
            </if>
            <if test="mobile!=null and mobile!=''">
                MOBILE = #{mobile},
            </if>
            <if test="qq != null and qq != '' ">
                QQ = #{qq},
            </if>
            <if test="email!=null and email != '' ">
                EMAIL = #{email},
            </if>
            <if test="nation_place != null and nation_place != '' ">
                NATION_PLACE = #{nation_place},
            </if>
            <if test="marjor != null and marjor != '' ">
                MARJOR = #{marjor},
            </if>
            <if test="edu_Background != null and edu_Background != '' ">
                EDU_BACKGROUND = #{edu_Background},
            </if>
            <if test="graduate_School != null and graduate_School != '' ">
                GRADUATE_SCHOOL = #{graduate_School},
            </if>
            <if test="birthday != null">
                BIRTHDAY = to_date(to_char(#{birthday},'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss') ,
            </if>
        </trim>
        where ID = #{id}
    </update>

    <!--通过姓名查询响应用户信息，王良-->
    <select id="selectUserById" parameterType="int" resultMap="baseUserResult">
        SELECT * FROM OLTS_USERS WHERE ID = #{id}
    </select>

    <!--插入用户（教师/学生）信息，王良-->
    <insert id="insertUser" parameterType="Olts_users">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            SELECT OLTS_USERS_SEQ.nextval FROM dual
        </selectKey>
        INSERT INTO OLTS_USERS (ID,STU_NO,ID_CARD_NO,USER_NAME,PASS_WORD,MOBILE,HOME_TEL,HOME_ADDR,SCH_ADDR,QQ,EMAIL,USER_TYPE,GENDER,NATION_PLACE,MARJOR,EDU_BACKGROUND,GRADUATE_SCHOOL)
        VALUES (#{id},
                #{stu_no},
                #{id_card_no},
                #{user_name},
                #{pass_word,jdbcType=VARCHAR},
                #{mobile,jdbcType=VARCHAR},
                #{home_tel,jdbcType=VARCHAR},
                #{home_addr,jdbcType=VARCHAR},
                #{sch_addr,jdbcType=VARCHAR},
                #{qq},
                #{email,jdbcType=VARCHAR},
                #{user_type,jdbcType=INTEGER},
                #{gender,jdbcType=VARCHAR},
                #{nation_place,jdbcType=VARCHAR},
                #{marjor,jdbcType=VARCHAR},
                #{edu_Background,jdbcType=VARCHAR},
                #{graduate_School,jdbcType=VARCHAR})
    </insert>

    <!--查询所有用户,王良-->
    <select id="selectAllUser" resultType="Olts_users" parameterType="Olts_users">
        SELECT * FROM OLTS_USERS
        <if test="users.graduate_School != null and users.graduate_school !=''">
            WHERE GRADUATE_SCHOOL = #{users.graduate_School}
        </if>
        ORDER BY ID
    </select>

    <!--删除指定用户(id)，王良-->
    <delete id="deleteStuById" parameterType="int">
        DELETE FROM OLTS_USERS WHERE ID = #{id}
    </delete>
</mapper>